.App {
    flex: 1;
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.choice-card {
    flex: 1;
    display: flex;
    margin: 100px;
    font-size: 3em;
    padding: 0 40px;
    font-weight: 300;
    text-align: center;
    border-radius: 25px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: black;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.choice-card h1
{
    color: white;
}
img {
    width: 250px;
    height: 250px;
}

h1 {
    font-size: 50px;
}

.win {
    color: green;
    border: 10px solid green;
}

.lose {
    color: red;
    border: 10px solid red;
}

.notStarted h3 {
    display: none;
}

.tie {
    border: 10px solid gray;
    color: gray
}
.Victory
{
    color:green
}
.Defeat
{
    color:red
}
.Tie
{
    color: black;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    justify-content: space-between;
}

li {
    padding: 30px;
    background-color: gainsboro;
    border-radius: 20px;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    font-family: cursive;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
    color: white;
    font-size: 50px;
  }
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  
  #btn {
    width: 300px;
    background: darkred;
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 40px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    margin: 0 auto;
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  #btn:hover {
    background: transparent;
  }
  
  #btn:hover #circle {
    height: 50px;
    width: 300px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }



  .btn-section {
    position: relative;
    display: flex;
    transform: rotate(0deg) skew(25deg);
    transform-style: preserve-3d;
 }
 .btn-section li {
   position: relative;
   list-style: none;
   width: 60px;
   height: 60px;
   margin: 0px 20px;
 }
 .btn-section li:before{
   content: '';
   position: absolute;
   bottom: -10px;
   left: -5px;
   width: 100%;
   height: 10px;
   background: #2a2a2a;
   trnasform-origin: top;
   transform: skewX(-41deg);
 }
 .btn-section li:after{
   content: '';
   position: absolute;
   top:5px;
   left: -9px;
   width: 9px;
   height: 100%;
   background: #2a2a2a;
   trnasform-origin: right;
   transform: skewY(-49deg);
 }
 .btn-section li span{
   position: absolute;
   top: 0;
   lef: 0;
   width: 100%;
   height: 100%;
   display: flex !important;
   background: #2a2a2a;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 30px !important;
   transition: 1.5s ease-out;
 }
 .btn-section li:hover span {
   z-index: 1000;
   transition: .3s;
   color: #fff;
   box-shadw: -1px 1px 1px rgba(0, 0, 0, .5);
 }
 .btn-section li:hover span:nth-child(5){
   transform: translate(40px, -40px);
   opacity: 1;
 }
 .btn-section li:hover span:nth-child(4){
   transform: translate(30px, -30px);
   opacity: .8;
 }
 .btn-section li:hover span:nth-child(3){
   transform: translate(20px, -20px);
   opacity: .6;
 }
 .btn-section li:hover span:nth-child(2){
   transform: translate(10px, -10px);
   opacity: .4;
 }  .btn-section li:hover span:nth-child(1){
   transform: translate(0px, 0px);
   opacity: .2;
 }
 .btn-section li:nth-child(1):hover span{
   background: #52E19F !important;
 }
 .btn-section li:nth-child(2):hover span{
   background: #2C3456 !important;
 }
 .btn-section li:nth-child(3):hover span{
   background: #EA6E96 !important;
 }
 .btn-section li:nth-child(4):hover span{
   background: #FCEB00 !important;
 }